@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    form {
        background: red;
    }
} */

html {
    scroll-behavior: smooth;
}

a {
    @apply cursor-pointer;
}
/* 
.btn {
    @apply px-4 py-2 flex text-center text-white border rounded-md text-xl font-medium transition duration-300 disabled:!bg-opacity-30 disabled:cursor-not-allowed dark:disabled:!bg-opacity-30;
    &.btn-primary {
        @apply bg-blue-500 dark:bg-blue-700 hover:bg-blue-700 dark:hover:bg-blue-800;
    }
} */
.icon {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentcolor;
    width: inherit;
    height: inherit;
}

.form-input {
    @apply bg-transparent border border-gray-600;
    &:focus {
        @apply font-semibold text-black bg-gray-200 border-green-400;
        &.auth {
            @apply text-white bg-blue-900;
        }
    }
    &:invalid,
    &.inavlid {
        @apply text-red-700;
    }
}

.dark .form-input:focus {
    @apply text-white bg-gray-700;
    &:invalid,
    &.inavlid {
        @apply text-red-500 placeholder:text-red-500;
    }
}

@layer utilities {
    .indent-1 {
        text-indent: 0.5rem;
    }
}

html {
    scroll-behavior: smooth;
}

a {
    @apply cursor-pointer break-words;
}

.alert {
    @apply px-4 py-3 mx-auto font-semibold rounded shadow;
    &.alert-danger {
        @apply text-red-800 bg-red-300;
    }
    &.alert-success {
        /* @apply text-green-800 bg-green-300; */
        background-color: rgb(6, 194, 6);
        color: rgb(1, 48, 1);
    }
}

.form-input {
    @apply bg-transparent border;
    border-color: gray;
    &:focus {
        background-color: grey;
        border-color: green;
        @apply font-semibold text-black;
        &.auth {
            @apply text-white bg-blue-900;
        }
    }
    &:invalid {
        @apply text-red-700 border-red-500;
    }
}

.theme-dark .form-input:focus {
    @apply text-white;
    background-color: rgb(46, 45, 45);
}

.toast {
    @apply flex items-center px-3 py-2 mt-2 transition duration-500 ease-in-out border-l-4 shadow-md;
    &.toast-default {
        @apply bg-teal-700 border-teal-500;
    }
    &.toast-success {
        /* @apply bg-green-700 border-green-500; */
        background-color: rgb(6, 75, 6);
        border-color: green;
    }
    &.toast-info {
        @apply bg-blue-700 border-blue-500;
    }
    &.toast-warn {
        @apply bg-orange-700 border-orange-500;
    }
    &.toast-danger {
        @apply bg-red-700 border-red-500;
    }
}

.list-item {
    @apply border-t;
    &:nth-child(1) {
        @apply border-t-0;
    }
}

.social {
    @apply p-2 mx-1 transition-colors duration-500 ease-linear border border-transparent;
    color: grey;
}

.lazyload {
    opacity: 0;
}

.lazyloading,
.lazyloaded {
    opacity: 1;
    /* transition: all 300ms; */
    background: transparent url(./loader.svg) no-repeat center;
}

.lazyloaded:not([src]) {
    background-image: none;
}
:root {
    --color-primary: blue;
}

.neon {
    --color-primary: teal;
}
.light {
    --color-primary: red;
}

.btn {
    @apply text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-4 py-2 text-center inline-block;
}
.has-gr {
    @apply bg-gradient-to-r hover:bg-gradient-to-br;
}
.green {
    @apply from-green-400 via-green-500 to-green-600 focus:ring-green-300 dark:focus:ring-green-800;
}
.cyan {
    @apply from-cyan-400 via-cyan-500 to-cyan-600 focus:ring-cyan-300 dark:focus:ring-cyan-800;
}
.teal {
    @apply from-teal-400 via-teal-500 to-teal-600 focus:ring-teal-300 dark:focus:ring-teal-800;
}
.lime {
    @apply from-lime-400 via-lime-500 to-lime-600 focus:ring-lime-300 dark:focus:ring-lime-800;
}
.red {
    @apply from-red-400 via-red-500 to-red-600 focus:ring-red-300 dark:focus:ring-red-800;
}
.pink {
    @apply from-pink-400 via-pink-500 to-pink-600 focus:ring-pink-300 dark:focus:ring-pink-800;
}
.purple {
    @apply from-purple-400 via-purple-500 to-purple-600 focus:ring-purple-300 dark:focus:ring-purple-800;
}

.input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

body {
    background-color: #e4e4e1;
    background-image: radial-gradient(
            at top center,
            rgba(255, 255, 255, 0.03) 0%,
            rgba(0, 0, 0, 0.03) 100%
        ),
        linear-gradient(
            to top,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(143, 152, 157, 0.6) 100%
        );
    background-blend-mode: normal, multiply;
}
.dark body {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.card-bg {
    @apply bg-white rounded-lg shadow-md dark:bg-gray-800  transition duration-200 text-gray-800 dark:text-gray-100;
}

.alert {
    @apply flex p-4 mb-4 bg-blue-100 border-t-4 border-blue-500 dark:bg-blue-200 text-blue-700;
    &.green {
        @apply bg-green-100 border-green-500 dark:bg-green-200 text-green-700;
    }
    &.red {
        @apply bg-red-100 border-red-500 dark:bg-red-200 text-red-700;
    }
    &.lime {
        @apply bg-yellow-100 border-yellow-500 dark:bg-yellow-200 text-yellow-700;
    }
}

.pagination-link {
    @apply py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
}
.pagination-current {
    @apply py-2 px-3 text-blue-600 bg-blue-50 border border-gray-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white cursor-not-allowed;
    &.disabled {
        @apply text-gray-500 dark:text-gray-300;
    }
}
body.gr-bg {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    .card-bg {
        --tw-bg-opacity: 0.85;
    }
}
.dark body.gr-bg {
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    .card-bg {
        --tw-bg-opacity: 0.8;
    }
}
select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.input-floating {
    @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600;
}
.label-floating {
    @apply absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
}

form {
    input[type="email"],
    input[type="password"] {
        direction: ltr;
    }
}
.auth-card form input {
    margin-top: .3rem;
    margin-bottom: .3rem;
}
.modal {
    input, textarea {
        @apply mx-1;
    }
}

.active {
    @apply bg-blue-600 dark:bg-blue-500 text-white hover:bg-blue-800 dark:hover:bg-blue-600;
}